
h1 {
    text-align: center;
    font-size: 3rem;
    color: #546e7a;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #f96d00;
}

.record-list {
    font-size: 1.5rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    padding-left: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-style: solid;
    text-align: left;
}

.stock-alert{
    color: red;
}


.show-details {

  width: 300px;
  border: 1px solid grey;
  padding: 3rem;
  align-self: center;
  text-align: left;
  font-size: 1.7rem;
  color: #546e7a;
}
