.content {
    padding: 3rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #546e7a;
}

.dot {
    margin: 4rem;
    display: flex;
    justify-content: space-around;

  }

.dot .show-list {
    display: inline-block;
    padding: 2rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    
}

.dot .show-list a {
    font-size: 1.5rem;
    margin: 2rem;
}

    

.dot .add-item {
    display: inline-block;
    padding: 2rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: grey;
    text-align: center;
    font-size: 20px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: navy;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: rgb(217, 237, 243);
    content: 'R';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.alert {
    font-size: 1.5rem;
    color: #546e7a;
    padding: 2rem;
    text-align: left;
}

.alert a {
    color: red;
    text-align: left;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
}

